.main {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.main .item {
  display: inline-block;
  position: absolute;
  left: 6px;
  animation: main 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  background: black;
  width: 13px;
}
.main .item1 {
  left: 6px;
  animation-delay: -0.24s;
}
.main .item2 {
  left: 26px;
  animation-delay: -0.12s;
}
.main .item3 {
  left: 45px;
  animation-delay: 0;
}
@keyframes main {
  0% {
    top: 6px;
    height: 51px;
  }
  50%, 100% {
    top: 19px;
    height: 26px;
  }
}
