.container{
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.line {
    position: absolute;
    transition: all .3s ease-in;
    margin-top: 10px;
    border-radius: 2px;
    background-color: black;
    width: 20px;
    height: 1px;
}

.leftright {
  composes: line; /* stylelint-disable-line property-no-unknown */
  transform: rotate(45deg);
}

.rightleft {
  composes: line; /* stylelint-disable-line property-no-unknown */
  transform: rotate(-45deg);
}


.close{
  position: absolute;
  opacity: 0;
  transition: all .3s ease-in;
  margin: 22px 0 0 -2px;
  color: black;
  font-size: 5px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.container:hover .leftright{
  transform: rotate(-45deg);
}
.container:hover .rightleft{
  transform: rotate(45deg);
}


.container:hover .line {
    background-color: grey;
}

.container:hover .close{
  opacity: 1;
}

