.main {
    width: 815px;
}

.mainBackground {
    width: 100%;
}

.mainModal {
    position: relative;
    background: #F5F5F5;
    padding-bottom: 30px;
}

.close.close {
    position: absolute;
    top: 35px;
    right: 35px;
    transform: scale(1.4);
    z-index: 1;
}

.posttitle {
    box-sizing: border-box;
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.10);
    border: 1px;
    background: #FFFFFF;
    padding: 0 27px;
    width: 100%;
    height: 95px;
    color: #4A4A4A;
    font-family: 'Stem', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0;
}

.posttitle:focus {
    outline: 0;
}

.datetoolbar {
    padding: 0px 28px;
    min-height: 82px;
    color: #2A2A2A;
    font-family: 'Stem', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 82px;
}

.btn.btn {
    display: block;
    box-sizing: border-box;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10), 0 1px 10px 0 rgba(0,0,0,0.07);
    border: 0;
    background: #FFFFFF;
    padding: 0px 16px;
    height: 40px;
    font-size: 21px;
    text-align: left;
}

.dropdown_calendar {
    display: inline-block;
    margin: 0 17px;
}

@media (max-width: 465px) {
    .dropdown_calendar {
        margin-right: 40px;
        margin-left: 0;
    }
}

.dropdown_calendar > .btn {
    width: 232px;
}

.timeblock {
    display: inline-block;
}

.dropdown_time {
    display: inline-block;
    margin: 0;
}

.dropdown_time.first {
    margin-left: 17px;
}

.dropdown_time > .btn {
    width: 75px;
}

.caret {
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: scale(1.3);
    margin-top: -3px;
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%226%22%20height%3D%226%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M3%206l3-6H0z%22%20fill%3D%22%23A6A6A6%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E");
    width: 6px;
    height: 6px;
}

.editarea {
    box-sizing: border-box;
    padding: 0 25px;
    width: 100%;
}

.social {
    box-sizing: border-box;
    border-bottom: 1px solid #E2E2E2;
    background: #FFFFFF;
    padding: 0 25px;
    width: 100%;
    height: 110px;
}

.socialIconLabel {
    display: block;
    float: left;
    margin: 26px 5px;
    width: 57px;
    height: 57px;
}

.socialIcon {
    transform: scale(1.3) translate(4px, 4px);
}

.textarea {
    box-sizing: border-box;
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.10);
    border: 1px;
    background: #FFFFFF;
    padding: 10px 27px;
    width: 100%;
    height: 95px;
    min-height: 200px;
    color: #CDCCCC;
    color: black;
    font-family: 'Stem', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 23px;
}

.textarea:focus {
    outline: 0;
}

.buttonarea {
    display: block;
    margin-top: 50px;
    width: 100%;
    min-height: 70px;
    overflow: hidden;
}

.button {
    display: block;
    transition: box-shadow 0.4s ease;
    cursor: pointer;
    box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0.10);
    border: 0;
    border-radius: 5px;
    background: #DCDCDC;
    width: 203px;
    height: 69px;
    color: #2A2A2A;
    font-family: 'Stem', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0;
    text-transform: uppercase;
}
.button[disabled] {
    cursor: default;
    box-shadow: none;
    color: grey;
}

.button:focus {
    outline: 0;
}

.button:active {
    box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.10);
    border: 0;
}

.button_draft {
    composes: button; /* stylelint-disable-line property-no-unknown */
    float: left;
}

.button_save {
    composes: button; /* stylelint-disable-line property-no-unknown */
    float: right;
}

@media (max-width: 459px) {
    .buttonarea {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .button {
        float: initial;
        margin-bottom: 3px;
    }
}
