@keyframes blowUpModal {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes blowUpModalTwo {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-150%, 0, 0);
  }
}

@keyframes opacityAnimation03 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes opacityAnimation0 {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}


.main {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate3d(0, 0, 0);
    z-index: 2;
    margin-left: -40%;
    width: 80%;
    min-width: 650px;
}

.modal {
    transform: translate3d(-150%, 0, 0);
    animation: blowUpModal 0.8s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

.out .modal {
    animation: blowUpModalTwo 0.5s ease forwards;
}

@media (max-width: 754px) {
    .main {
        top: 0;
        left: 0;
        margin-left: 0;
        width: 100%;
        min-width: auto;
    }
}

.overlay {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    animation: opacityAnimation03 .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    background: black;
}

.out.overlay {
  opacity: 0;
  animation: opacityAnimation0 .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}
