:root {
    --border-color: #CFCFCF;
    --width: 212px;
    --height: 212px;
    --background: #F5F5F5;
}
.main {
    transform: scale(1);
    z-index: 0;
    transition: transform 0.3s ease;
    border: 1px dashed var(--border-color);
    background: var(--background);
    min-width: var(--width);
    max-width: var(--width);
    min-height: var(--height);
    max-height: var(--height);
}

.main:hover {
    transform: scale(1.05);
    z-index: 1;
}

.main:first-child {
    margin-left: -1px;
}
.main + .main {
    margin-top: -1px;
    margin-left: -1px;
}

.main.pushed {
    transform: scale(1.02);
}

.hasdata {
    border: 1px solid var(--border-color);
    background: white;
}

.empty {
    cursor: pointer;
    margin: 70px auto 0;
    width: 105px;
    color: #2A2A2A;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;
    text-align: center;
}

.emptyTime {
    display: inline-block;
    width: 100%;
}

.empty:after {
    display: block;
    margin-top: 10px;
    width: 100%;
    font-size: 30px;
    text-align: center;
    content: '+';
}

.maincontent {
    position: relative;
    padding: 0 15px 0 15px;
    color: #2A2A2A;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 0;
}

.icons {
    position: absolute;
    top: 0;
    right: 3px;
}

.svg {
    display: none;
    width: 20px;
    height: 20px;
}

.svg.active {
    display: inline;
}

.svg:hover path {
    fill: red;
}
.svg:hover rect {
    stroke: red;
}

.svgt {
    transform: scale(0.6);
}

.time {
    margin-bottom: 9px;
}

.draft {
    position: absolute;
    right: 2px;
    bottom: -3px;
    transform: rotate(315deg);
    z-index: 1;
    color: red;
}

.content {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 156px;
    overflow: hidden;
    line-height: 18px;
}

.content:after {
    display: block;
    position: absolute;
    bottom: 0;
    background: linear-gradient(rgba(255,255,255,0.001), #fff);
    width: 100%;
    height: 40px;
    content: '';
}
