.main {
    color: #A6A6A6;
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    letter-spacing: 0;
}

.item {
    float: left;
    transform: scale(1.4);
    margin-left: 5px;
    margin-left: 40px;
    list-style: none;
}

.text {
    position: relative;
    top: -5px;
}
