@font-face {
    font-family: 'Stem';
    src: url('Stem-Regular.eot');
    src: local('Stem'), local('Stem-Regular'),
        url('Stem-Regular.eot?#iefix') format('embedded-opentype'),
        url('Stem-Regular.woff2') format('woff2'),
        url('Stem-Regular.woff') format('woff'),
        url('Stem-Regular.ttf') format('truetype'),
        url('Stem-Regular.svg#Stem-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Stem';
    src: url('Stem-Bold.eot');
    src: local('Stem Bold'), local('Stem-Bold'),
        url('Stem-Bold.eot?#iefix') format('embedded-opentype'),
        url('Stem-Bold.woff2') format('woff2'),
        url('Stem-Bold.woff') format('woff'),
        url('Stem-Bold.ttf') format('truetype'),
        url('Stem-Bold.svg#Stem-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

