.title {
    color: #333333;
    font-family: 'Stem', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0;
}

.subtitle {
    display: inline-block;
    margin-left: 20px;
    color: #A6A6A6;
    font-family: 'Stem', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 18px;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 720px) {
    .content {
        justify-content: center;
    }
}
