.fill {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.input {
    composes: fill; /* stylelint-disable-line property-no-unknown */
    opacity: 0;
}

.label {
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
}

.content {
    composes: fill; /* stylelint-disable-line property-no-unknown */
    opacity: 1;
    border: 3px solid transparent;
    pointer-events: none;
}

input.input:checked + .content {
    border-color: #00bf95;
}
