:root {
    /* main */
    --main-background: #F5F5F5;

    /* menu */
    --menu-background: #373737;
    --menu-color: #D8D8D8;
    --menu-width: 200px;

    /* content */
    --content-padding-y: 50px;
    --content-padding-x: 40px;
}

.main {
    position: relative;
    background: var(--main-background);
    width: 100%;
    min-height: 100vh;
}

.menu {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: var(--menu-background);
    width: var(--menu-width);
    height: 100%;
    color: var(--menu-color);
}


.body {
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    padding-left: var(--menu-width);
    height: 100%;
}

.statistic {
    position: absolute;
    top: 20px;
    right: 35px;
}

.content {
    position: relative;
    box-sizing: border-box;
    padding: var(--content-padding-y) var(--content-padding-x);
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.3;
    z-index: 1;
    background: black;
}

.toolbar {
    display: none;
}

@media (max-width: 754px) {
    .overlay {
        display: block;
    }
    .body {
        padding-top: 50px;
        padding-left: 0;
    }
    .menu {
        transform: translate3d(calc(var(--menu-width) * -1), 0, 0);
        transition: transform 0.5s ease;
    }
    .menu.active {
        transform: translate3d(0, 0, 0);
    }
    .menubtn {
        position: relative;
        top: -5px;
        cursor: pointer;
        outline: 0;
        border: 0;
        background: white;
        width: 55px;
        height: 55px;
        color: black;
        font-size: 30px;
    }
    .menubtn:focus, .menubtn:hover  {
        background: #F5F5F5;
    }

    .toolbar {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
        background: white;
        height: 50px;
    }
    .statistic {
        top: 75px;
    }
}
